@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

    .fixed-width {
        width: 22rem;
        min-width: 22rem;
        max-width: 22rem;
    }

    .main-container {
        @apply fixed-width text-center;
    }

    .btn {
        @apply font-bold py-2 px-4 rounded;
    }

    .btn-blue {
        @apply bg-blue-500 text-white;
    }

    .btn-blue:hover {
        @apply bg-blue-700;
    }

    .form {
        @apply bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4;
    }

    .form-input-container {
        @apply mb-4;
    }

    .form-input {
        @apply w-1/4 shadow appearance-none border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-1;
    }

    .form-label {
        @apply block text-gray-700 text-sm font-bold mb-2;
    }

    .error-message {
        @apply text-sm text-red-600 font-medium mt-1;
    }

    .stripe-message {
        @apply text-sm text-black font-medium mt-1;
    }

    .subscribe-button {
        @apply bg-green-600 text-white px-5 py-2 my-6 font-semibold leading-5 w-full h-14 rounded-md;
    }
}

